@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
* {
    font-family: 'Do Hyeon', sans-serif;
    
}

.img-box {
    position: relative;
}

.layout {
    position:absolute;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
}

.layout:hover {
    position:absolute;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    border-radius: 15px;
    color:white;
    text-align: center;
    line-height: 430px;
    font-size: 30px;
}